<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>

    <head>
        <title>exam List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="vendor/bootstrap.min.css">
        <link href="vendor/style.css" rel="stylesheet">
        <link rel="stylesheet" href="vendor/styleT.css">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
        <link rel="stylesheet" href="vendor/c3.css">


    </head>
    <body>
        <!-- Default form contact -->



        <div class="container">
            <div class="row">
                <div class="column" style="background-color:#aaa;">
                    <form class="text-center border border-light p-5"
                          action="/examListInsert" method="post">

                        <p class="h4 mb-4">Adding Admin Exam List </p>

                         Name 
                        <label>Exam-Name</label>
                        <input type="text" id="exam_name" name="exam_name"
                               class="form-control mb-4" placeholder="Exam Name">

                        <label>Exam-Month</label>
                        <input type="text" id="date" name="date"
                               class="form-control mb-4" placeholder="DD/MM/YYYY">

                        <label>Details</label>
                        <div class="form-group">
                            <textarea class="form-control rounded-0" 
                                      name="coment" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
                        </div>


                        <button class="btn btn-google-plus btn-block" type="submit" onclick="return confirm('Are you sure Save this?');">Add</button>


                    </form>

                </div>


                <!--1st Grid end-->

                <div class="column" style="background-color:#bbb;">
                    <form action="/showExamlists">
                        <button class="btn btn-pinterest btn- btn-info btn-rounded fa fa-sync" type="submit">Reload</button>

                        <!--<div th:if="$(not #lists.isEmpty(exmlst))">-->
                        <h2 align="center">Exam List</h2>

                        <table border="1" class = "table table-striped" cellpadding="10">
                            <tr>
                                <th>ID</th>
                                <th>Exam Name</th>
                                <th>Date</th>
                                <th>Desception</th>
                                <th colspan="2">Action</th>
                            </tr>

                            <!--<#list exmlst as exm>-->
                            <!--<c:forEach items="${exmlst}" var="exm">-->
                            <tr th:each="exm : ${exmlst}">
                                <!--<td th:text="${name}" ></td>-->
                                <td th:text="${exm.id}">ID</td>
                                <td th:text="${exm.exam_name}">Exam Name</td>
                                <td th:text="${exm.date}">Date</td>
                                <td th:text="${exm.coment}">Desception</td>
                                <td> <a th:href="@{/edit/{id}(id=${exm.id})}" class="fa fa-edit">Edit</a>
                                     
                                                         || 
                                    <a th:href="@{/delete/{id}(id=${exm.id})}" class="fa fa-trash" onclick="return confirm('Are you sure Delete item this?');">Delete</a></td>

                            </tr>  
                            <!--</#list>-->
                            </c:forEach>

                        </table>
                    </form>
                    <!--</div>-->
                </div>
            </div>
        </div>


    </body>
</html>
